<!-- your html code here -->
<div class="container ">
    <div class="row">
      <div class="col-8">
        <strong><h2 class="mt-5">Viajes del Copón</strong> Afina tus sentidos.</h2>
        <p class="lead">Viajes del Copón es una agencia de viajes que ofrece viajes a los mejores destinos del mundo.</p>
      </div>
      <div class="col-4">
        <img class="rounded-circle" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" alt="landscape" style="width: 400px;">
      </div></br>
    </div>
  </div>