 <!--Portfolio page--> 
 <div>
    <div class="row">
        <div class="col-12">
            <h3 class="mt-5">Portfolio</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 p-2">
            <div class="card p-2">
                <img class="card-img-top" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D" alt="landscape">
                <div class="card-title">First Landscape</div>
                <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                <a href="#" class="btn btn-primary mt-4 w-25">Visit</a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card p-2">
                <img class="card-img-top" src="https://petapixel.com/assets/uploads/2022/08/fdfs11-800x533.jpg" alt="landscape">
                <div class="card-title">Second Landscape</div>
                <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                <a href="#" class="btn btn-primary mt-4 w-25">Visit</a>
            </div>
        </div>
        <div class="col-md-4 p-2">
            <div class="card p-2">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/beautiful-shot-grassy-hills-covered-trees-near-mountains-dolomites-italy_181624-24400.jpg" alt="landscape">
                <div class="card-title">Third Landscape</div>
                <div class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
                <a href="#" class="btn btn-primary mt-4 w-25">Visit</a>
            </div>
        </div>
    </div>
</div>