<!-- your html code here -->
<div class="container ">
    <div class="row">
        <div class="col-4">
            <img class="rounded-circle" src="https://img.freepik.com/free-photo/beautiful-shot-grassy-hills-covered-trees-near-mountains-dolomites-italy_181624-24400.jpg" alt="landscape" style="width: 400px;">
        </div>
        <div class="col-8">
            <h2 class="mt-5"><strong>Solo necesitas soñar</strong> Nosotros hacemos el resto.</h2>
            <p class="lead">En viajes el Copón somos especialistas en hacer de cada viaje un recuerdo inolvidable para el resto de su vida, ¿hablamos?</p>
        </div>
    </div>
  </div>